<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuga dagli Xenomorfi</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Fuga dagli Xenomorfi</h1>
        <p>Sei intrappolato in una nave spaziale. Gli Xenomorfi ti danno la caccia.<br>Riuscirai a sopravvivere?</p>
        <div class="links">
            <a href="game.html" class="link-button">Inizia Partita</a>
            <a href="rules.html" class="link-button">Regole del Gioco</a>
            <a href="visualizzaStatoPartita.html" class="link-button">Visualizza Stato Partita</a>
        </div>
    </div>
    <div class="footer">
        <p>© 2024 Fuga dagli Xenomorfi | Ispirato al film <em>Alien</em></p>
    </div>
</body>
</html>
